@{
    ViewBag.Title = "ResumeDetail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using JobBroad.Models
@using Job.Entity
@model ResumeViewModel
@{
    ViewBag.Title = "ResumeAdd";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="alice-bg padding-top-70 padding-bottom-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="breadcrumb-area">
                    <h1>Add Resume</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Resume Detail</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>

    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
            <div class="row no-gliters">
                <div class="col">
                    <div class="post-container">
                        <div class="post-content-wrapper">

                            <div class="basic-info-input">
                                <h4>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <line x1="12" y1="8" x2="12" y2="16"></line>
                                        <line x1="8" y1="12" x2="16" y2="12"></line>
                                    </svg>
                                    Add Resume
                                </h4>
                                <div id="details" class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            @Html.HiddenFor(model => model.CV.CVId)
                                            @Html.HiddenFor(model => model.CV.CvName)
                                        </div>
                                    </div>
                                </div>
                                <div id="details" class="row">
                                    <label class="col-md-3 col-form-label">Personal Details</label>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Seeker.empName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Seeker.empSurname, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Seeker.empEmail, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Seeker.empBirthDate, new { @type = "date" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.TextAreaFor(model => model.Seeker.empAddress, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.TextAreaFor(model => model.Seeker.empDetail, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @using (Html.BeginForm("EducationAdd", "Home", FormMethod.Post))
                                {
                                    @Html.HiddenFor(model => model.CV.CVId)
                                    <div id="education" class="row">
                                        <label class="col-md-3 col-form-label">Education</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.Education.EduLevel, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <label class="col-md-3 col-form-label">EDUCATION</label>
                                        <div class="col-md-9">
                                            <div class="form-group">

                                                @Html.EditorFor(model => model.Education.Branch, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.Education.SchoolName, new { @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Education.StartDate, new { @class = "form-control", @type = "date" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Education.EndDate, new { @class = "form-control", @type = "date" })
                                            </div>

                                            <button type="submit" value="Add Experience" class="add-new-field">ADD</button>
                                        </div>
                                    </div>

                                    foreach (Education item in Model.EduList)
                                    {
                                        <div class="job-summary">
                                            <div id="education" class="row">
                                                <label class="col-md-3 col-form-label">Education</label>
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        @item.EduLevel
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        @item.Branch
                                                    </div>
                                                    <div class="form-group">
                                                        @item.SchoolName
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @item.StartDate
                                                        </div>
                                                        <div class="form-group">
                                                            @item.EndDate
                                                        </div>
                                                    </div>
                                                    <a href="~/Home/Remove/@item.EduId"></a>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                                @using (Html.BeginForm("WorkAdd", "Home", FormMethod.Post))
                                {
                                    @Html.HiddenFor(model => model.CV.CVId)
                                    <div id="experience" class="row">
                                        <label class="col-md-3 col-form-label">Work Experience</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.Experience.CompName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Experience 01</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Company Name" name="CompName" id="CompName">
                                            </div>
                                            <div class="form-group">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Experience.StartDate, new { @type = "date" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Experience.EndDate, new { @type = "date" })
                                            </div>
                                            <button type="submit" value="Add Experience" class="add-new-field">ADD</button>
                                        </div>
                                    </div>
                                }
                                @foreach (Experience item in Model.WorkList)
                                {
                                    <div class="job-summary">
                                        <div id="experience" class="row">
                                            <label class="col-md-3 col-form-label">Work Experience</label>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    @item.CompName
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-form-label">Experience 01</label>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Company Name" name="CompName" id="CompName">
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        @item.StartDate
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @item.EndDate
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        This candidate has not created resume.
    </div>




